body{
    font-family:'Courier New', Courier, monospace;
    background-color:black;
}
#container{
    width:1000px;
    height:550px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url();
    margin:20px auto;
}
#calculator{
    
}